beautifulsoup4==4.12.2
exrex==0.11.0
Google_Images_Search==1.4.6
google_search==1.1.1
googlesearch_python==1.2.3
httpx==0.25.0
meval==2.5
pillow==10.0.0
pymongo==4.4.1
pyFunloader
pytube==15.0.0
pytube3==9.6.4
telethon==1.29.3
urbandictionary_python==0.0.5
youtube_search==2.1.2
