beautifulsoup4
exrex
Google_Images_Search
google_search
googlesearch-python
gTTS
httpx
meval
pillow
pymongo
telethon
pytube3
requests
udpy
youtube_search
pyFunloader
google
yt-dlp
tgcrypto
oweatherm
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
emoji
currency-ch
