beautifulsoup4
Elfrien
emoji
exrex
fake_useragent
gemini_webapi
google_api_python_client
google_auth_oauthlib
gtts
httpx
hypercorn
meval
Pillow
playwright
protobuf
pyFunloader
pymongo
quart
remove_bg_python
Requests
udpy
youtube_search
yt_dlp
num2word
httpx[socks]
googlesearch-python
oweatherm